@import url("reset.css");

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 15px;
}

.first {
    outline: 2px solid orange;
    font-size: 0;
    background: yellow;
}

.first div {
    outline: 2px solid red;
    width: 400px;
    height: 400px;
    display: inline-block;
    font-size: 22px;
}

.second {
    outline: 2px solid orange;
    font-size: 0;
}

.second div {
    outline: 2px solid red;
}

.second>div {
    width: 800px;
    display: inline-block;
    font-size: 22px;
    background: green;
}

.second>div+div {
    width: 400px;
    background: pink;
}

.second-left>div {
    height: 200px;
}

.second-right>div {
    height: 133.333px;
}

.third {
    outline: 2px solid orange;
    font-size: 0;
}

.third div {
    outline: 2px solid red;
}

.third-left {
    width: 400px;
    height: 400px;
    display: inline-block;
    font-size: 22px;
    background: lightcoral;
}

.third-right {
    width: 800px;
    height: 400px;
    display: inline-block;
    font-size: 22px;
    background: lightsalmon;
}

.third-right-top {
    height: 200px;
}

.third-right-bottom {
    height: 200px;
    font-size: 0;
    background: lightseagreen;
}

.third-right-bottom-left {
    width: 400px;
    height: 200px;
    display: inline-block;
    font-size: 22px;
}

.third-right-bottom-right {
    width: 400px;
    height: 200px;
    display: inline-block;
    font-size: 0;
    background: lightskyblue;
}

.third-right-bottom-right div {
    width: 400px;
    height: 100px;
    font-size: 22px;
}

.third-right-bottom-right>div+div {
    background: lightgreen;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.first2 {
    outline: 2px solid orange;
    background: violet;
}

.first2 div {
    outline: 2px solid red;
    width: 400px;
    height: 400px;
    float: left;
}

.second2 {
    outline: 2px solid orange;
    background: lightcoral;
}

.second-left2 {
    width: 800px;
    float: left;
}

.second-right2 {
    width: 400px;
    float: left;
    background: lime;
}

.second-left2>div {
    height: 200px;
    outline: 2px solid red;
}

.second-right2>div {
    height: 133.333px;
    outline: 2px solid red;
}

.third2 {
    outline: 2px solid orange;
    background: lightsalmon;
}

.third-left2 {
    width: 400px;
    height: 400px;
    float: left;
    outline: 2px solid red;
}

.third-right2 {
    width: 800px;
    height: 400px;
    float: left;
    outline: 2px solid red;
    background: mediumslateblue;
}

.third-right-top2 {
    height: 200px;
    outline: 2px solid red;
}

.third-right-bottom2 {
    height: 200px;
    outline: 2px solid red;
    background: skyblue;
}

.third-right-bottom-left2 {
    width: 400px;
    height: 200px;
    float: left;
    outline: 2px solid red;
}

.third-right-bottom-right2 {
    width: 400px;
    height: 200px;
    float: left;
    outline: 2px solid red;
    background: deepskyblue;
}

.third-right-bottom-right2 div {
    width: 400px;
    height: 100px;
    outline: 2px solid red;
}

.third-right-bottom-right2>div+div {
    background: lightgreen;
}